
html{
    margin: 0;
}

    /* div de la pagina completa donde añadir las columns */
.switch{
    justify-content: center;
    display: grid;
    align-self: center;
    margin-top: 50vh;
    grid-template-columns: 20vh 13.2vh 67.9vh 15vh 20vh;
}

    /* divs de las columnas donde ubicar las diferentes partes de la consola */
.switch > .division{
    overflow: hidden;
    display: flex;
    align-items: center;

}

    /* divs del joy-con izquierdo + comunes entre izquierdo y derecho*/
#joy_left{
    margin-top: -75vh;
}

.joycon{
    display: flex;
    justify-content: center;
}

.l1{
    position: fixed;
    overflow: hidden;
    width: 11vh;
    height: 5.6vh;
    border-radius: 2vh 0 0 0;
    margin-top: -35.5vh;
}

.l1button{
    background-color: #2e3134;
    box-shadow: inset 0 1.5vh 2vh -0.5vh rgba(255,255,255,.6), inset 0 -2.1vh 2vh -0.5vh rgba(0,0,0,.8);
    width: 11vh;
    height: 8vh;
    border-radius: 9vh 0 0 0;
    margin-top: 0.3vh;
    margin-left: 0.52vh;

}

.l1:active{
   margin-top: -34.9vh;
}

.joycon_left{
    position: fixed;
    background-color: #00bddc;
    box-shadow: inset 0.7vh 1.5vh 0.5vh -0.5vh rgba(255,255,255,.6), inset 1vh -3.5vh 0.8vh -2.5vh rgba(0,0,0,.4), inset 1.2vh 0px 1vh -1vh rgba(0,0,0,.4);
    width: 12.72vh;
    height: 39.8vh;
    border-radius: 9vh 0 0 9vh;
    margin-top: 0.2vh;
    margin-left: 0.5vh;
}

.less{
    background-color: #2e3134;
    width: 2.4vh;
    height: 0.52vh;
    margin-top: 3.5vh;
    margin-left: 7.2vh;
    position: static;
}

.less:active{
    background-color: rgb(31, 30, 30);
    height: 0.4vh;
    margin-top: 3.6vh;
}

.joystick_left{
    justify-self: center;
    margin-top: 7.2vh;
    margin-left: -8.3vh;
    width: 6.5vh;
    height: 6.5vh;
    overflow: hidden;
    border-radius: 9vh;
}

.lr3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 6.5vh;
    height: 6.5vh;
    border: 0.05vh solid black;
    background-color: #2e3134;
    box-shadow: inset 0 1.5vh 1.5vh -0.5vh rgba(255,255,255,.6), inset 0 -3.5vh 8vh -5vh rgba(0,0,0,.8);
    border-radius: 50vh;
}

.lr3:active{
    width: 5.7vh;
    height: 5.7vh;
    margin-left: 0.3vh;
    margin-top: 0.5vh;
}

.center{
    position: absolute;
    width: 4.3vh;
    height: 4.3vh;
    border: 0.05vh solid rgb(26, 25, 25);
    border-radius: 10vh;
    margin-left: 0.9vh;
    box-shadow: inset 0vh 0vh 1vh 0.5vh rgba(0,0,0,.8);
}

.center:active{
    width: 3.8vh;
    height: 3.7vh;
    margin-left: 0.8vh;
}


.button{
    position:fixed;
    display: flex;
    justify-content: center;
    background-color: #43484b;
    border: 0.05vh solid black;
    width: 2.8vh;
    height: 2.8vh;
    border-radius: 5vh;
    box-shadow: inset 0 1.5vh 2vh -0.8vh rgba(255,255,255,.6), inset 0 -2.1vh 2vh -1vh rgba(0,0,0,.8);
}

.button:active{
   background-color: #2e3134;
}

.arrows{
    position: fixed;
    width: 11vh;
    height: 9.5vh;
    margin-top: 16vh;
    margin-left: 1vh;
}

.arrow_buttons{
    width: 1.2vh;
    height: 1.2vh;
    margin-top: 0.8vh;
}

#up{
    margin-left: 3.7vh;
    margin-top: 0.2vh;
}

#down{
    margin-left: 3.7vh;
    margin-top: 6.5vh;
}

#left{
    margin-left: 0.5vh;
    margin-top: 3.4vh;
}

#right{
    margin-left: 6.9vh;
    margin-top: 3.4vh;
}

.media{
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: #43484b;
    border: 0.05vh solid black;
    width: 2.4vh;
    height: 2.4vh;
    margin-top: 27.2vh;
    margin-left: 5vh;
    border-radius: 0.4vh;
}

.m_center{
    border: 0.05vh solid  black;
    background-color: #2e3134;
    align-self: center;
    width: 1.4vh;
    height: 1.4vh;
    border-radius: 9vh;
}

.media:active{
    width: 2.2vh;
    height: 2.2vh;
    margin-top: 27.25vh;
}

/* Divs de la consola */
.console{
    position: fixed;
    border: 0.05vh solid black;
    background-color: rgb(43, 43, 43);
    box-shadow: inset 0 1.5vh 2vh -0.5vh rgba(255,255,255,.6), inset 0 -2.1vh 2vh -0.5vh rgba(0,0,0,.8);
    width: 67.7vh;
    height: 39.6vh;
    margin-top: 0.5vh;
}

.vol{
    position: fixed;
    background-color: #2e3134;
    width: 2vh;
    height: 0.3vh;
}
.vol:active{
    margin-top: -0.3vh;
}

.vol_up{
    position: fixed;
    margin-left: 8.8vh;
    margin-top: -0.35vh;
}

.vol_down{
    position: fixed;
    margin-left: 12.55vh;
    margin-top: -0.35vh;
}

.window{
    width: 100vh;
    height: 39.6vh;
    margin-bottom: -0.48vh;
    overflow: hidden;
}

.lcd_mark{
    position: fixed;
    background-color: black;
    width: 64vh;
    height: 36.8vh;
    margin-top: 1.3vh;
    margin-left: 2vh;
    border-radius: 0.9vh;
}

.lcd{
    position: fixed;
    display: flex;
    background-color: rgb(43, 43, 43);
    /* background-position: center; */
    background-size: cover;
    width: 56vh;
    height: 31.5vh;
    margin-top: 2.7vh;
    margin-left: 4vh;
}

/* divs del joy-con derecho */
#joy_right{
    margin-top: -75vh;
}

.r1{
    position: fixed;
    overflow: hidden;
    width: 17vh;
    height: 5.6vh;
    border-radius: 0 2vh 0 0;
    margin-top: -35.5vh;
    margin-left: 1.7vh;
}

.r1button{
    position: relative;
    background-color: #2e3134;
    box-shadow: inset 0 1.5vh 2vh -0.5vh rgba(255,255,255,.6), inset 0 -2.1vh 2vh -0.5vh rgba(0,0,0,.8);
    width: 10.9vh;
    height: 8vh;
    border-radius: 0 9vh 0 0;
    margin-top: 0.3vh;
    margin-left: 0vh;

}


.r1:active{
    margin-top: -34.9vh;
}

.joycon_right{
    position: fixed;
    background-color: #ff5449;
    box-shadow: inset 0.7vh 1.5vh 1vh -0.5vh rgba(255,255,255,.6), inset 1vh -3.5vh 0.8vh -2.5vh rgba(0,0,0,.4), inset 0 0 1.2vh -0.5vh rgba(0,0,0,.4);
    width: 12.72vh;
    height: 39.80vh;
    border-radius: 0 9vh 9vh 0;
    margin-bottom: -0.4vh;
    margin-left: 0vh;
}

.pluse_marc{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3vh;
    height: 3vh;
    margin-top: 2.15vh;
    margin-left: -8.9vh;
    position: static;
}

#pluse{
    margin-top: 0.2vh;
    width: 2.4vh;
    height: 2.4vh;


}

#pluse:active{
    width: 2.2vh;
    height: 2.2vh;
}

.letters{
    position: fixed;
    width: 11vh;
    height: 9.5vh;
    margin-top: 5.1vh;
    margin-left: -0.5vh;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #d3d5d7;
}

.letters_buttons{
    position: fixed;
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 2vh;
}

#x{
    margin-left: 3.7vh;
    margin-top: 0.2vh;
}

#b{
    margin-left: 3.7vh;
    margin-top: 6.15vh;
}

#y{
    margin-left: 0.5vh;
    margin-top: 3.2vh;
}

#a{
    margin-left: 6.9vh;
    margin-top: 3.2vh;
}

.joystick_right{
    position: fixed;
    justify-self: center;
    margin-top: 17.5vh;
    margin-left: -0.8vh;
    width: 6.5vh;
    height: 6.5vh;
    overflow: hidden;
    border-radius: 9vh;
}

.home{
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: #565a5c;
    border: 0.05vh solid rgb(37, 36, 36);
    border-radius: 80px;
    width: 3vh;
    height: 3vh;
    margin-top: 26.9vh;
    margin-left: -5.2vh;
}

.home:active{
    background-color:#3c4044;
}

.h_center{
    position: fixed;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #2e3134;
    align-self: center;
    width: 2.2vh;
    height: 2.2vh;
    border-radius: 9vh;
}

.h_icon{
    width: 1.7vh;
    height: 1.7vh;
    margin-left: 0.2vh;
    margin-top: -0.1vh;    
}
